---
name: Compile PureData Object
on:
  push:
    branches: [master]
#╭──────────────────────────────────────╮
#│  Uncomment if you want to trigger a  │
#│               release                │
#╰──────────────────────────────────────╯
  # workflow_dispatch:
  #   inputs:
  #     publish_release:
  #       description: Publish a GitHub Release using LIBVERSION after build
  #       required: false
  #       type: boolean
  #       default: false
env:
  LIBNAME: else
  LIBVERSION: v1.0-rc15
permissions:
  contents: write
jobs:
  macos:
    runs-on: ${{ matrix.machines }}
    strategy:
      matrix:
        precision: [32]
        machines: [macos-15-intel, macos-latest]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ccache-${{matrix.machines}}-v1
      - name: Install PureData and Deps
        run: |
          brew install pd
          brew install libogg libvorbis
      - name: Build
        run: |
          cmake . -B build \
            -DCMAKE_C_COMPILER_LAUNCHER="ccache" -DCMAKE_CXX_COMPILER_LAUNCHER="ccache"
          cmake --build build -j$(sysctl -n hw.logicalcpu)
      - name: Upload Object
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.LIBNAME}}-${{env.LIBVERSION}}-${{matrix.machines}}-pd${{matrix.precision}}
          path: build/else
  raspberry-build:
    runs-on: ubuntu-24.04-arm
    strategy:
      matrix:
        precision: [32]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 1
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ccache-linux-arm-v1
      - name: PureData Sources
        run: |
          sudo apt update
          sudo add-apt-repository ppa:pure-data/pure-data -y
          sudo apt install puredata -y
      - name: Configure
        run: |
          sudo apt install -y libogg-dev libvorbis-dev libssl-dev
      - name: Configure pd-else
        run: |
          cmake . -B build \
              -DCMAKE_C_COMPILER_LAUNCHER="ccache" \
              -DCMAKE_CXX_COMPILER_LAUNCHER="ccache" \
              -DPD_FLOATSIZE=${{ matrix.precision }} \
              -DPDLIBDIR=./ \
              -DCMAKE_BUILD_TYPE=Release \
              -DOPENSSL_USE_STATIC_LIBS=TRUE \
              -DCMAKE_SHARED_LINKER_FLAGS="-static-libgcc -static-libstdc++" \
              -DCMAKE_POSITION_INDEPENDENT_CODE=ON
      - name: Build Object
        run: |
          cmake --build build -- -j$(nproc)
      - name: Upload Object
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.LIBNAME}}-${{env.LIBVERSION}}-linux_raspberry-pd${{matrix.precision}}
          path: build/else
  linux-build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        precision: [32]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 1
      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ccache-linux-x86-v1
      - name: PureData Sources
        run: |
          sudo apt update
          sudo add-apt-repository ppa:pure-data/pure-data -y
          sudo apt install puredata -y
      - name: Configure
        run: |
          sudo apt install -y libogg-dev libvorbis-dev libssl-dev
          cmake . -B build \
              -DCMAKE_C_COMPILER_LAUNCHER="ccache" \
              -DCMAKE_CXX_COMPILER_LAUNCHER="ccache" \
              -DPD_FLOATSIZE=${{ matrix.precision }} \
              -DPDLIBDIR=./ \
              -DCMAKE_BUILD_TYPE=Release \
              -DOPENSSL_USE_STATIC_LIBS=TRUE \
              -DCMAKE_SHARED_LINKER_FLAGS="-static-libgcc -static-libstdc++" \
              -DCMAKE_POSITION_INDEPENDENT_CODE=ON
      - name: Build Object
        run: |
          cmake --build build -- -j$(nproc)
      - name: Upload Object
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.LIBNAME}}-${{env.LIBVERSION}}-linux_x86-pd${{matrix.precision}}
          path: build/else
  windows-build:
    runs-on: windows-latest
    strategy:
      matrix:
        compiler: [mingw]
        arch: [amd64]
        precision: [32]
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      - if: matrix.compiler == 'mingw'
        name: Set up Msys2
        uses: msys2/setup-msys2@v2
        with:
          msystem: mingw64
          install: make mingw-w64-x86_64-gcc mingw64/mingw-w64-x86_64-cmake mingw-w64-x86_64-libogg mingw-w64-x86_64-libvorbis mingw64/mingw-w64-x86_64-ccache
          update: false
      - name: Restore build cache
        uses: actions/cache/restore@v4
        with:
          path: D:/ccache
          key: ccache-windows-v1-${{ github.run_id }}
          restore-keys: |
            ccache-windows-v1-${{ github.sha }}
            ccache-windows-v1
      - name: Install PureData Float 32
        run: |
          winget install -e --id MillerPuckette.PureData --accept-source-agreements
      - name: Configure and build Mingw
        shell: msys2 {0}
        if: matrix.compiler == 'mingw'
        run: |
          cmake . -B build -DPD_FLOATSIZE=${{ matrix.precision }} -DPDLIBDIR=./ -DCMAKE_BUILD_TYPE=Release -DCMAKE_C_COMPILER_LAUNCHER="ccache" -DCMAKE_CXX_COMPILER_LAUNCHER="ccache"
          export CCACHE_COMPRESS=1
          export CCACHE_COMPRESSLEVEL=6
          export CCACHE_MAXSIZE=1G
          export CCACHE_DIR=D:/ccache
          cmake --build build --parallel
          ccache -s
          rm -rf ./build/else/*.a
        env:
          CCACHE_COMPRESS: "1"
          CCACHE_COMPRESSLEVEL: "6"
          CCACHE_MAXSIZE: "1G"
          CCACHE_DIR: D:/ccache

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: ${{env.LIBNAME}}-${{env.LIBVERSION}}-Windows-pd${{matrix.precision}}
          path: build/else

#╭──────────────────────────────────────╮
#│   Here an example to how publish a   │
#│   release, uncomment the input or    │
#│            remove the if             │
#╰──────────────────────────────────────╯
  # publish-release:
  #   if: ${{ github.event.inputs.publish_release == 'true' }}
  #   needs: [macos, linux-build, windows-build]
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Download all artifacts
  #       uses: actions/download-artifact@v4
  #       with:
  #         path: artifacts
  #     - name: Create unified onnx directory and archive
  #       run: |
  #         set -e
  #         TOPDIR="$LIBNAME"
  #         mkdir -p "$TOPDIR"
  #         for artifact_dir in artifacts/*; do
  #           [ -d "$artifact_dir" ] || continue
  #           cp -r "$artifact_dir/"* "$TOPDIR/"
  #         done
  #         ls -1 "$TOPDIR"
  #         ZIP_NAME="${LIBNAME}-${LIBVERSION}-all-platforms.zip"
  #         zip -r "$ZIP_NAME" "$TOPDIR"
  #     - name: Create / Update GitHub Release
  #       uses: softprops/action-gh-release@v2
  #       with:
  #         tag_name: v${{ env.LIBVERSION }}
  #         name: ${{ env.LIBNAME }} v${{ env.LIBVERSION }}
  #         target_commitish: ${{ github.sha }}
  #         files: |
  #           ${{ env.LIBNAME }}-${{ env.LIBVERSION }}-all-platforms.zip
  #         draft: true
  #         prerelease: false
  #
  #

