name: C/C++ CI

on:
  workflow_dispatch:
  push:
    branches: ["master", "CI"]
  pull_request:
    branches: ["master", "CI"]

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  CMAKE_BUILD_PARALLEL_LEVEL: 4

jobs:
  # ===============================================================
  Linux-Build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Downloads pd-Sources
        shell: bash
        run: |
          curl -L -o pure-data.zip https://api.github.com/repos/pure-data/pure-data/zipball/refs/tags/0.55-0
          unzip pure-data.zip
          rm pure-data.zip
          mv pure-data-* pure-data

      - name: Configure pd-else
        run: |
          cmake -BBuild -DPD_PATH=${{github.workspace}}/pure-data

      - name: Build pd-else
        run: |
          cmake --build Build

      - name: Upload Zip
        uses: actions/upload-artifact@v3
        with:
          name: else
          path: ./Build/else

  # ===============================================================
  macOS-Build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Downloads pd sources
        shell: bash
        run: |
          curl -L -o pure-data.zip https://api.github.com/repos/pure-data/pure-data/zipball/refs/tags/0.55-0
          unzip pure-data.zip
          rm pure-data.zip
          mv pure-data-* pure-data

      - name: Configure pd-else
        run: |
          cmake -BBuild -DPD_PATH=${{github.workspace}}/pure-data

      - name: Build pd-else
        run: |
          cmake --build Build

      - name: Upload Zip
        uses: actions/upload-artifact@v3
        with:
          name: else
          path: ./Build/else

  # ===============================================================

  Windows-Build:
    runs-on: windows-latest
    timeout-minutes: 25
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Get Pd
        shell: bash
        run: |
          curl -L -o pure-data.zip http://msp.ucsd.edu/Software/pd-0.54-0.msw.zip
          unzip pure-data.zip
          rm pure-data.zip
          mv pd-0.54-0 pd

      - name: Configure pd-else
        shell: bash
        run: |
          cmake -BBuild -DPD_PATH=./pd -DPD_LIB_PATH=./pd/bin -G"MinGW Makefiles"

      - name: Build pd-else
        shell: bash
        run: |
          cmake --build Build

      - name: Upload Zip
        uses: actions/upload-artifact@v3
        with:
          name: else
          path: ./Build/else
